<div class="header">
  <nav class="header-top">
    <div class="header-menu">
      <div class="header-menu-logo"></div>
      <img src="../assets/pics/car-smoke.png" class="logo-smoke" />
      <img src="../assets/pics/car-smoke.png" class="logo-tires" />
      <img src="../assets/pics/car-smoke.png" class="logo-body" />
      <div class="header-searchbar">
        <input type="search" placeholder="Search here" />
        <div class="header-searchbar-icon"></div>
      </div>
      <div class="header-menu-sign-in">
        <span class="header-menu-top-centre">Sign-in</span>
        <span class="header-menu-bottom-centre">Account</span>
      </div>
      <div class="header-menu-sign-in">
        <span class="header-menu-top-centre">Your orders</span>
        <span class="header-menu-bottom-centre">Returns</span>
      </div>
    </div>
  </nav>
  <nav class="header-bottom"></nav>
</div>
